@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: variables.$backgroundOverlay;
        backdrop-filter: blur(3px);
    }

    .container {
        position: relative;
        z-index: 2;
        text-align: center;
    }

    &__logo {
        height: 200px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        box-shadow: variables.$shadowSoft;
        border: 2px solid variables.$borderLight;
    }

    &__text {
        margin-top: 34px;
        margin-bottom: 64px;
        font-size: variables.$fontLarge;
        line-height: 1.3;
        font-weight: 700;
        color: variables.$textColor;
        text-shadow: variables.$shadowSoft;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 140px;
        }

        &__text {
            font-size: variables.$fontMedium;
            margin: 24px 0;
        }
    }
}
